---
sitemap: false
---

/*
 *
 *  Moon
 *
 *  Designer: Taylan Tatlı
 *  WEB: //taylantatli.me
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "elements";
@import "syntax";
@import "nav";
@import "vendor/fonts";
@import "vendor/animate";
@import "vendor/magnific-popup/magnific-popup";
@import "print";
@import "custom";

.page-excerpt {
  font-weight: normal;
  font-style: italic;
  font-size: 1.1rem;
}
